.container
  h1 
    a(href='javascript:f.loadList()') Back to list 
  h1 Questionairre for #{uid}
  
  -var gcount = 0 
  each g in questions.groups
    h2 #{g.title}

    each qg in g.questions
      -gcount++
      table.question.stripe(id='question::'+gcount)
        tbody
          each q in qg
            tr(width="100%")
              td(style='text-align:left' width="80%")
                label #{q.question}
              td(style='align:right;text-align:right;')
                // no idea how to avoid repeating the select content here, since the blocking seems to be done for both the html and the conditional...
                - var id = q.id
                if q.askif
                  select.v(id=q.id onchange="javascript:f.changedAnswer(id)" disabled)
                    option(value=' ')
                    each r in q.responses
                      option(value=r) #{r}
                else 
                  select.v(id=q.id onchange="javascript:f.changedAnswer(id)")
                    option(value=' ')
                    each r in q.responses
                      option(value=r) #{r}

  label.h5 Additional Comments
  br
  textarea#comments
  br
  button#save.submit(value='Submit' style='font-size:20px') Save and Return
